
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.png" alt="">
			</a>
		</div>
		<div class="phone-wrap">
			<a href="tel:83532928070p7270" class="link-phone"><div class="link-title">+7 (3532) 92-80-70 <span class="link-sep">/</span> 7270</div></a>
		</div>
		<div class="menu-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup-toggle btn-action-ico ico-menu js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<ul class="menu">
					<li><a href="" class="active">Услуги</a></li>
					<li><a href="">Техника</a></li>
					<li><a href="">О нас</a></li>
					<li><a href="">Вакансии</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!-- /header -->
